<div class="card">
    <p-toast />
    <p-toolbar styleClass="mb-4 gap-2">
        <ng-template pTemplate="left">
            <p-button severity="success" label="New" icon="pi pi-plus" class="mr-2" (onClick)="openForm({})" />

            <p-button severity="danger" label="Delete" icon="pi pi-trash" (onClick)="deleteSelectedProducts()"
                [disabled]="!selectedProducts || !selectedProducts.length" />
        </ng-template>
    </p-toolbar>

    <p-table [value]="displayed" [rows]="pageSize" [paginator]="true" [totalRecords]="products.length"
        (onPage)="goPage($event.page)" [(selection)]="selectedProducts" dataKey="id" [rowHover]="true"
        [tableStyle]="{ 'min-width': '75rem' }">

        <ng-template pTemplate="caption">
            <div class="flex align-items-center justify-content-between w-full">
                <h5 class="m-0">Manage Products</h5>

                <span class="p-input-icon-left">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" placeholder="Search..." [formControl]="search" />
                </span>

                <p-dropdown [options]="categories" optionLabel="name" optionValue="id" styleClass="ml-2"
                    [formControl]="categoryFilter" placeholder="Category">
                </p-dropdown>
            </div>
        </ng-template>

        <ng-template pTemplate="header">
            <tr>
                <th style="width: 4rem"><p-tableHeaderCheckbox /></th>

                <th pSortableColumn="name">Name <p-sortIcon field="name" /></th>
                <th pSortableColumn="price">Price <p-sortIcon field="price" /></th>
                <th pSortableColumn="categoryId">Category <p-sortIcon field="categoryId" /></th>
                <th pSortableColumn="quantity">Quantity <p-sortIcon field="quantity" /></th>
                <th></th>
            </tr>
        </ng-template>

        <ng-template pTemplate="body" let-product>
            <tr>
                <td><p-tableCheckbox [value]="product" /></td>

                <td>{{ product.name }}</td>

                <td>{{ product.price | number:'1.2-2' }}</td>

                <td>{{ getCategoryName(product.categoryId) }}</td>

                <td>{{ product.quantity }}</td>

                <td>
                    <p-button icon="pi pi-pencil" class="mr-2" [rounded]="true" [outlined]="true" severity="success"
                        (onClick)="openForm(product)" />

                    <p-button icon="pi pi-trash" severity="danger" [rounded]="true" [outlined]="true"
                        (onClick)="deleteProduct(product)" />
                </td>
            </tr>
        </ng-template>

        <ng-template pTemplate="summary">
            <div class="flex align-items-center justify-content-between">
                Total: {{ products.length }} products.
            </div>
        </ng-template>

    </p-table>

    <p-confirmDialog [style]="{ width: '450px' }" />
</div>

